In [ ]:
import findspark
findspark.init('/usr/local/spark')
import pyspark

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("df_basics").getOrCreate()

In [ ]:
df = spark.read.json('ex.json')

In [ ]:
df.show()

In [ ]:
df.printSchema()

In [ ]:
df.columns

In [ ]:
df.describe().show()

In [ ]:
from pyspark.sql.types import StructField, StructType, StringType, IntegerType

In [ ]:
data_schema = [StructField("age",IntegerType(),True), StructField("name",StringType(), True)]

In [ ]:
final_struct = StructType(fields=data_schema)

In [ ]:
[i*i for i in [1,2,3,4]]

In [ ]:
[i*i if i%2==0 else i**3 for i in [1,2,3,4,5,6,7,8]]

In [ ]:
df1 = spark.read.json('ex.json', schema=final_struct)

In [ ]:
df1.printSchema()

In [ ]:
df1['age']

In [ ]:
df.select(['age']).show()

In [ ]:
df.select(['age','name']).show(2)

In [ ]:
df.head(2)

In [ ]:
df.withColumn('squared_age',df['age']*2).show()

In [ ]:
df.withColumnRenamed('age','Age').show()

In [ ]:
df2 = spark.read.csv('ContainsNull.csv', header=True, inferSchema=True)

In [ ]:
df2.show()

In [ ]:
df2.printSchema()

In [ ]:
df2.na.drop().show()

In [ ]:
df2.dropna(thresh=2).show()

In [ ]:
df2.dropna(subset='Sales').show()

In [ ]:
df2.fillna('NA').show()

In [ ]:
df2.show()

In [ ]:
from pyspark.sql.functions import mean

In [ ]:
mean_val = df2.select(mean(df2['Sales'])).collect()

In [ ]:
mean_val[0][0]

In [ ]:
df2.na.fill(mean_val[0][0],'Sales').show()

In [ ]:
df3 = spark.createDataFrame(data=[{'Age':32,'Height':4.5},{'Age':24,'Height':None},
                                 {'Age':27,'Height':5.3},{'Age':None,'Height':None}])

In [ ]:
df3.show()

In [ ]:
df = spark.read.csv('churn.csv', sep=',', header=True)

In [ ]:
df.show(5)

In [ ]:
df.describe().show()

In [ ]:
df.filter('CreditScore>650').show(5)

In [ ]:
#!pip install pandas

In [ ]:
df.toPandas()[:5]

In [ ]:
df.filter(df['CreditScore']>650).select(df['CreditScore'],df['Exited']).show(5)

In [ ]:
df.filter((df['CreditScore']>650) & (df['Exited']==1)).show(5)

In [ ]:
from pyspark.sql.functions import avg, stddev, corr, format_number

In [ ]:
df.groupBy('Geography').count().show()

In [ ]:
df.groupBy('Geography').agg({'CreditScore':'mean','Exited':'count'}).show()

In [ ]:
grp=df.groupBy('Geography')

In [ ]:
grp.mean().show()

In [ ]:
df.select(format_number(avg('Balance'),2).alias('Avg balance')).show()

In [ ]:
df.orderBy(df['Balance'].desc()).show(5)